<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.IShips">
    <resultMap id="ships" type="models.Ships"/>
    <select id="getShipsId" parameterType="java.lang.Integer">
        select name, speed, size from Ships where id = #{id}
    </select>
    <select id="getShips" resultMap="ships">
        select name, speed, size from Ships
    </select>
    <insert id="insertShips" parameterType="models.Ships">
        insert into Ships (name, speed, size)
        values ( #{name}, #{speed}, #{size})
    </insert>
    <update id="updateShips" parameterType="models.Ships">
        update Ships
        set name = #{name}, speed = #{speed}, size = #{size}
        where id = #{id}
    </update>
    <delete id="deleteShips" parameterType="models.Ships">
        delete from Ships
        where id = #{id}
    </delete>
</mapper>